
<h1 class="page-header">Médicos</h1>

<% if @doctor.errors.any? %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
        <% @doctor.errors.full_message.each do |message|%>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
       <div class="col-lg-6">
       <%= form_for([:backoffice, @doctor]) do |f| %>
          <div class="form-group">        
             <label>Nome</label>
             <%= f.text_field :name, class:"form-control", placeholder:"Dr. Joãozinho da Silva" %>
          </div>

          <div class="form-group">
             <label>Endereço</label>
             <%= f.text_field :address, class:"form-control", placeholder:"Avenida inventada, 123" %>
          </div>

          <div class="form-group">
             <label>Cidade</label>
             <%= f.text_field :city, class:"form-control", placeholder:"Porto Alegre" %>
          </div>

          <div class="form-group">
             <label>Telefone</label>
             <%= f.text_field :phone, class:"form-control", placeholder:"3333-3333" %>
          </div>

          <div class="form-group">
             <label>Hospital</label>
             <%= f.collection_select :hospital_id, Hospital.all, :id, :name, :selected => @doctor.hospital_id, class:"form-control"  %>
          </div>

          <div class="form-group">    
             <label>CRM</label>
             <%= f.text_field :crm, class:"form-control", placeholder:"4444449994444" %>
          </div>

          <div class="form-group"> 
            <label>Foto</label> <br>
            <%= image_tag @doctor.picture.url(:medium), class:"img-thumbnail" %>
            <label></label>
          </div>
          
          <div class="form-group">         
            <%= f.file_field :picture %>
          </div> 



         <div class="form-group">
            <button type="submit" class="btn btn-default">Salvar</button>
         </div>
         <% end %>
   </div>

   <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>

      