
<%= content_for :javascripts do %>
  <%= javascript_include_tag 'site/profile/ads' %>
<% end %>

<% if @appointment.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
        <% @appointment.errors.full_messages.each do |message|%>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= form_for(@appointment, url: new_site_profile_appointment_path(@appointment)) do |f| %>

	<div class="row">
    	<div class="col-xs-3">
	     	<div class="form-group">
	        	<%= f.label :Data %>
	        	<%= f.text_field :date, class: "form-control datetimepicker", value: (l(@appointment.date) unless @appointment.date.blank?) %>
	      	</div>
    	</div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <%= f.label :hospital %>
        <%= f.collection_select :hospital_id, Hospital.all, :id, :name, {}, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <%= f.label :doctor %>
        <%= f.collection_select :doctor_id, Doctor.all, :id, :name, {}, { class: "form-control" } %>
      </div>
    </div>
  </div>

<%= submit_tag "Agendar Consulta", class: "btn btn-default"  %>


<% end %>