
<h1 class="page-header">Prontuários</h1>

<% if @medicalRecord.errors.any? %>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
        <% @medicalRecord.errors.full_message.each do |message|%>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
     <div class="col-lg-6">
        <%= form_for([:backoffice, @medicalRecord]) do |f| %>
        <div class="form-group">
          <div class="row">
          <div class="col-xs-4">
          <div class="form-group">
              <%= f.label :Paciente %>
             <%= f.collection_select :profile_member_id, ProfileMember.all, :id, :first_name, :selected => @medicalRecord.profile_member_id, class:"form-control"  %>
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-xs-4">
          <div class="form-group">
             <label>Ultimo Médico</label>
             <%= f.collection_select :doctor_id, Doctor.all, :id, :name, :selected => @medicalRecord.doctor, class:"form-control"  %>
          </div>
          </div>
          </div>
           <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <%= f.label :Observações %>
              <%= f.text_area :observations, class: "form-control", rows: 5 %>
            </div>
          </div>
        </div>
        
       </div>
       <button type="submit" class="btn btn-default">Salvar</button>
       <% end %>
   </div>

   <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>

      