
<h1 class="page-header">Prontuários</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        Prontuários cadastrados no sistema 
        <%= link_to new_backoffice_medical_record_path, class:"btn btn-success btn-circle pull-right", style:"margin-top: -5px" do %>
        <i class="fa fa-plus"></i>
        <% end %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>                                            
                    <tr>
                        <th>Id</th>
                        <th>Paciente</th>
                        <th>Hospital</th>
                        <th>Data</th>
                        <th></th>
                    </tr>                                            
                </thead>
                <tbody>
                    <% @medicalRecords.each do |hospital| %>
                    <tr>
                        <td><%= medicalRecord.id %></td>                                                
                        <td><%= medicalRecord.paciente.name %></td>                                                
                        <td><%= medicalRecord.hospital.name %></td>                                                
                        <td><%= medicalRecord.id.appointment.date %></td>                      
                        <td style="width: 90px">
                            <%= link_to edit_backoffice_medical_record_path(medicalRecord.id), class: "btn btn-info btn-circle" do %>
                            <i class="fa fa-edit"></i>
                            <% end %>
                            <button type="button" class="btn btn-danger btn-circle" disabled="disabled"><i class="fa fa-minus"></i>
                            </button>
                        </td>
                    </tr>
                    <% end %>                                           
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
